/* si me quiero mover desde donde estoy parado
al elemento le pongo : position:relative

- si me quiero mover en base a mi padre :
position:absulute para el elemento que quiero mover y position:relative para el padre :
- si me quiero mover en base al body: al padre no le pongo position y al elemento que quiero mover le pongo position:box__absolute

siempre tener en cuenta que relative me mantiene el espacio que ocupaba el elemento antes de moverlo, y absolute pierde el espacio que ocupaba en el flujo natural del documento*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.632);
    margin-bottom: 10px ;
    padding:10px;
    position: sticky;   
    top:0px;
    z-index:10;
   
}

header a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    /*los elementos en linea no tienen ni margin top ni bottom,
    no respetan ni ancho ni alto
    las medidas dependen de su contenido
    ej: etiquetas : a - span -label - br-input-textarea-select-etc..*/

    /*elementos en bloque son div-todos los h-ul-table-li-address-etc...
    fuerzan un salto de linea aunque su contenido no ocupe todo el ancho, tienen margin , alto y ancho por el usuario*/

    /*elementos inline-block se pueden aplicar las propiedades de un elemento en bloque y ademas se ubican en linea sin el salto de linea*/
    display: inline-block; 
    padding: 10px;
    margin:10px;
    background-color: rgba(0, 0, 0, 0.363);
   
   
}

.seccion__text{
    background-color: #909090;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    position:relative;
    top:80vh;
}

.section__boxs{
   /* background-color: rgba(18, 18, 18, 0.386);*/
   /* background-image: url("zorro.jpg");*/
    background:linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) , url("zorro.jpg");  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:90vh;
    position:absolute;
    top:0px;
    width:100%;
   
    
}

.box__relative{
    width:50%;
    background-color: rgba(157, 35, 168);
   
     /*POSITION : RELATIVE:
     es relativo a su posicion inicial, es decir se mueve tantos pixeles indiquemos de su position inicial
     con relative no cambia la posicion de los elementos que lo rodea, es decir que se quedan en la misma posicion*/
   /* position: relative;*/
    /*top:200px;
    left:47%;*/
   /* right:100px;*/
   /* bottom: 100px;*/
    /* position:absolute;
     top:0;
     left:200px; */
     position:absolute;/*se mueve relativo, no asi mismo, sino al padre si tiene relative o al body si elpadre no tiene relative*/
     top:50%;
     left:50%;
}

.box__absolute{
    width: 100px;
    height: 300px;
    background-color: rgb(226, 43, 101);
 /*   position: absolute; 
    top:200px;
    left:200px; */

}

.box__fixed{   
    width: 200px;
    height: 50px;
    background-color: rgba(144, 228, 88, 0.692);
    position: fixed;/*sale del flujo natural que tenia cuando hice el html*/
    bottom: 10px;
   /* top:10px;*/
    right:10px;
    z-index: 10;
 
}